node_modules
vendor
coverage
.phpunit.cache/
tests/Browser/console
tests/Browser/screenshots
tests/Browser/source
.phpunit.result.cache
yarn-error.log
_DS_Store
.idea
.vscode
.php-cs-fixer.cache
.DS_Store
