* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github              export-ignore
/arts                 export-ignore
/tests                export-ignore
/js/components        export-ignore
/js/globals           export-ignore
/js/helpers           export-ignore
/js/helpers.js        export-ignore
/js/tallstackui.js    export-ignore
.phpunit.cache/       export-ignore
.eslintrc.js          export-ignore
.gitattributes        export-ignore
.gitignore            export-ignore
CONTRIBUTING.md       export-ignore
package.json          export-ignore
package-lock.json     export-ignore
composer.lock         export-ignore
captainhook.json      export-ignore
phpstan.neon          export-ignore
phpunit.xml           export-ignore
.phpunit.result.cache export-ignore
pint.json             export-ignore
testbench.yaml        export-ignore
webpack.mix.js        export-ignore
vite.config.js        export-ignore
postcss.config.js     export-ignore
