includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/

    level: 5

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    excludePaths:
        - *Test.php
