includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - src/

    excludePaths:
        - src/Components/**/FeatureTest.php
        - src/Components/**/BrowserTest.php
        - src/Components/**/SearchableBrowserTest.php
        - src/Components/Datasets.php

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        - identifier: trait.unused
        - identifier: larastan.noEnvCallsOutsideOfConfig
          path: src/config.php
