<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Feature">
      <directory>tests/Feature</directory>
    </testsuite>
    <testsuite name="Browser">
      <directory>tests/Browser</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
  <php>
    <env name="APP_ENV" value="testing" />
    <env name="DB_CONNECTION" value="testing" />
    <env name="APP_KEY" value="base64:bMQdVAbryqTAZYxrYqTplHFRv9JqKTaYEVwwrLsGo4Y=" />
  </php>
</phpunit>
