name: Tests

on:
  push:
    branches:
      - 1.x
  pull_request:
    branches:
      - 1.x

  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        php: [8.1, 8.2, 8.3]
        laravel: [10.*]
        timezone: [America/Sao_Paulo]

    name: OS:${{ matrix.os }} / PHP:${{ matrix.php }} / Laravel:${{ matrix.laravel }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"
      - run: npm install
      - run: npm run lint
      - run: npm run build

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
          tools: composer:v2
          coverage: none

      - name: Install Composer
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-progress --ansi --no-update
          composer update --no-interaction --no-progress --ansi

      - name: Rector Cache
        uses: actions/cache@v4
        with:
          path: ./var/cache/rector
          key: ${{ runner.os }}-rector-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-rector-

      - name: Setup Google Chrome
        run: vendor/bin/dusk-updater detect --auto-update

#      - name: Pint
#        run: ./vendor/bin/pint --test
#
#      - name: Rector
#        run: ./vendor/bin/rector process --dry-run --config=rector.php
#
#      - name: PHPStan
#        run: ./vendor/bin/phpstan --configuration="phpstan.neon"
#
#      - name: Clear Orchestra Testbench Cache
#        run: ./vendor/bin/testbench optimize:clear
#
#      - name: Feature Tests
#        run: ./vendor/bin/pest --filter Feature
#
#      - name: Clear Orchestra Testbench Cache
#        run: ./vendor/bin/testbench optimize:clear

      - name: Browser Tests
        run: ./vendor/bin/pest --ci --filter "can_use_tomorrow_helper"
        env:
          CI: true

#      - name: Upload Failed Screenshots
#        if: failure()
#        uses: actions/upload-artifact@v2
#        with:
#          name: dusk-fail-screenshots
#          path: tests/Browser/screenshots/failure-*
#          retention-days: 1
#
#      - name: Upload Failed Console Logs
#        if: failure()
#        uses: actions/upload-artifact@v2
#        with:
#          name: dusk-fail-screenshots
#          path: tests/Browser/console/Tests_*
#          retention-days: 1
